<ion-content class="ion-padding" [fullscreen]="true">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <div class="containerForm">
    <ion-title>EDITAR PUBLICACIÓN</ion-title>
      <ion-item class="login" color="azure">
        <ion-label class="colorText" position="floating">Título</ion-label>
        <ion-input formControlName="title" type="text" required></ion-input>
      </ion-item>

      <ion-item class="login" color="azure">
        <ion-label class="colorText" position="floating">Nombre del responsable</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item class="login" color="azure">
        <ion-label class="colorText" position="floating">Apellido del responsable</ion-label>
        <ion-input formControlName="last_name" type="text" required></ion-input>
      </ion-item>

      <ion-item class="login" color="azure">
        <ion-label class="colorText" position="floating">Contacto</ion-label>
        <ion-input formControlName="phone" type="text" required></ion-input>
      </ion-item>

      <ion-item class="login" color="azure">
        <ion-label class="colorText" position="floating">Fecha de expiración</ion-label>
        <ion-input formControlName="date_ex" type="text" required></ion-input>
      </ion-item>

      <ion-item class="login" color="azure">
        <ion-label class="colorText" position="floating">Descripción</ion-label>
        <ion-textarea formControlName="description" type="text" required></ion-textarea>
      </ion-item>
      
      <ion-button color="primary" size="medium">
        <ion-label>Enviar Foto</ion-label>
        <input type="file" (change)="uploadImage($event.target.files)" />
      </ion-button>
      <!-- File upload progress bar -->
      <div *ngIf="percentageVal | async as percentage">
        Carga de la imagen: {{ percentage | number }}%
        <ion-progress-bar value="{{ percentage / 100 }}"></ion-progress-bar>
      </div>
    
      <div *ngIf="trackSnapshot | async as snap">
        Tamaño del archivo: {{ snap.totalBytes | formatFile }} 
      </div>
  </div>
  <ion-row>
    <ion-col>
      <button type="submit" class="submit-btn" shape="full" expand="block" >ACTUALIZAR PUBLICACIÓN</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button [routerLink]="['/publications']" class="submit-btn" shape="full" expand="block" >CANCELAR</button>
    </ion-col>
  </ion-row>
</form>
</ion-content>
