<ion-content class="ion-padding" [fullscreen]="true">
  <form [formGroup]="validations_form" (ngSubmit)="presentAlert(validations_form.value)">
  <div class="containerForm">
    <ion-avatar class="image">
      <img src="../../assets/user.png">
    </ion-avatar>
    <div class="imagecon">
      <ion-label>Cambiar Foto</ion-label>
      <button class="imagebutton">
        <input type="file" (change)="uploadImage($event.target.files)" />
      </button>
      <!-- File upload progress bar -->
      <div *ngIf="percentageVal | async as percentage">
        Carga de la imagen: {{ percentage | number }}%
        <ion-progress-bar value="{{ percentage / 100 }}"></ion-progress-bar>
      </div>
      <div *ngIf="trackSnapshot | async as snap">
        Tamaño de la imagen: {{ snap.totalBytes | formatFile }} 
      </div>
    </div>
      <ion-item class="login" color="azure">
        <ion-label class="colorText" position="floating">Nombre</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message"
            *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item class="login" color="azure">
        <ion-label class="colorText" position="floating">Apellido</ion-label>
        <ion-input formControlName="last_name" type="text" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.last_name">
          <div class="error-message"
            *ngIf="validations_form.get('last_name').hasError(validation.type) && (validations_form.get('last_name').dirty || validations_form.get('last_name').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item class="login" color="azure">
        <ion-label class="colorText" position="floating">Correo electrónico</ion-label>
        <ion-input formControlName="email" type="text" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message"
            *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

  </div>
  <ion-row>
    <ion-col>
      <button type="submit" class="submit-btn" [disabled]="!validations_form.valid" shape="full" expand="block" >ACTUALIZAR PERFIL</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button [routerLink]="['/profile-user/']" (click)="presentToastCancel()" class="submit-btn" shape="full" expand="block" >CANCELAR</button>
    </ion-col>
  </ion-row>
</form>
</ion-content>
