<ion-content class="ion-padding" color="aliceblue" [fullscreen]="true">
  <form class="form" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <div class="containerForm">
      <ion-title>INGRESE INFORMACIÓN</ion-title>
      <ion-item class="login" color="azure">
        <ion-label position="floating" class="colorText"><ion-icon class="iconP" name="person-outline"></ion-icon>Título de publicación</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.title">
          <div class="error-message"
            *ngIf="validations_form.get('title').hasError(validation.type) && (validations_form.get('title').dirty || validations_form.get('title').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item class="login" color="azure">
        <ion-label position="floating" class="colorText"><ion-icon class="iconP" name="person-outline"></ion-icon>Nombre de Responsable</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message"
            *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item class="login" color="azure">
        <ion-label position="floating" class="colorText"><ion-icon class="iconP" name="person-outline"></ion-icon>Apellido de Responsable</ion-label>
        <ion-input type="text" formControlName="last_name"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.last_name">
          <div class="error-message"
            *ngIf="validations_form.get('last_name').hasError(validation.type) && (validations_form.get('last_name').dirty || validations_form.get('last_name').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item class="login" color="azure">
        <ion-label position="floating" class="colorText"><ion-icon class="iconP" name="mail"></ion-icon>Contacto</ion-label>
        <ion-input type="text" formControlName="phone"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.phone">
          <div class="error-message"
            *ngIf="validations_form.get('phone').hasError(validation.type) && (validations_form.get('phone').dirty || validations_form.get('phone').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item class="login" color="azure">
        <ion-label position="floating" class="colorText"><ion-icon class="iconP" name="mail"></ion-icon>Descripción</ion-label>
        <ion-textarea type="text" formControlName="description"></ion-textarea>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.description">
          <div class="error-message"
            *ngIf="validations_form.get('description').hasError(validation.type) && (validations_form.get('description').dirty || validations_form.get('description').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item class="login" color="azure">
        <ion-label position="floating" class="colorText"><ion-icon class="iconP" name="calendar-outline"></ion-icon>Fecha de vencimiento</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" class="colorText" formControlName="date_ex" placeholder="Seleccione una fecha"></ion-datetime>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.date_ex">
          <div class="error-message"
            *ngIf="validations_form.get('date_ex').hasError(validation.type) && (validations_form.get('date_ex').dirty || validations_form.get('date_ex').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <div class="imagecon">
        <ion-label position="floating" class="colorText"><ion-icon class="iconP" name="image"></ion-icon>Ingrese su imagen</ion-label>
        <button class="imagebutton">
          <input type="file" (change)="uploadImage($event.target.files)" />
        </button>
        <!-- File upload progress bar -->
        <div *ngIf="percentageVal | async as percentage">
          Carga de la imagen: {{ percentage | number }}%
          <ion-progress-bar value="{{ percentage / 100 }}"></ion-progress-bar>
        </div>
        <div *ngIf="trackSnapshot | async as snap">
          Tamaño de la imagen: {{ snap.totalBytes | formatFile }} 
        </div>
      </div>
    </div>
      <div class="submit-btn">
      <button class="submit-btn1" type="submit" [disabled]="!validations_form.valid">REGISTRAR PUBLICACIÓN</button>
      </div>
      <div class="error-message">
        <label>{{errorMessage}}</label>
      </div>
    </form>
    <div class="submit-btn">
      <button [routerLink]="['/publications']" (click)="presentToastCancel()" class="submit-btn1" shape="full" expand="block" >CANCELAR</button>
    </div>
</ion-content>

