<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="presentActionSheet()">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="aliceblue" [fullscreen]="true">
    <div class="containerForm">
      <ion-avatar class="image" *ngIf = "user.image === null || user.image === ''">
        <img src="../../assets/user.png">
      </ion-avatar>
      <ion-avatar class="image" *ngIf = "user.image !== null && user.image !== ''">
        <img src={{user.image}}>
      </ion-avatar>

      <ion-item class="login" color="azure">
        <ion-label class="colorText"><ion-icon class="iconP" name="person-outline"></ion-icon>{{user.name}}</ion-label>
      </ion-item>

      <ion-item class="login" color="azure">
        <ion-label class="colorText"><ion-icon class="iconP" name="person-outline"></ion-icon>{{user.last_name}}</ion-label>
      </ion-item>

      <ion-item class="login" color="azure">
        <ion-label class="colorText"><ion-icon class="iconP" name="mail"></ion-icon>{{user.email}}</ion-label>
      </ion-item>

      <ion-item class="login" color="azure">
        <ion-label class="colorText"><ion-icon class="iconP" name="lock-closed-outline"></ion-icon>{{user.rol}}</ion-label>
      </ion-item>

    </div>

    <div class="submit-btn">
      <button [routerLink]="['/update-user/', user.uid]" class="submit-btn1">MODIFICAR INFORMACIÓN</button>
    </div>
</ion-content>

