<ion-header>
  <ion-toolbar>
    <ion-title>{{publicationsadmin.name}}</ion-title>
    <ion-button slot="end" fill="clear" (click)="closePublication()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content  class="container">
    <ion-card class="card">
      <ion-card-content  class="image">
        <img src="https://picsum.photos/2560/2048">
      </ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://picsum.photos/100">
        </ion-avatar> 
        <ion-label>
          <h3>{{publicationsadmin.name}} {{publicationsadmin.last_name}}</h3>
          <p class="coment">{{publicationsadmin.phone}}</p>
        </ion-label>
      </ion-item>
      <ion-card-content>
        {{publicationsadmin.description}}
      </ion-card-content>
      <ion-card-content>
        <ion-card-subtitle>Comentarios</ion-card-subtitle>
      </ion-card-content>
    </ion-card>
    <div *ngIf="room" insert=true>
    <ion-list>
      <ion-item *ngFor="let comment of room.comments">
        <div class="containeravatar">
          <ion-avatar slot="start" class="avatar">
            <img src="https://picsum.photos/100/100">
          </ion-avatar>
        </div>
        <ion-label class="coment">
          <h3>{{comment.name_user}} {{comment.last_name_user}}</h3>
          <p class="coment">{{comment.content}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>   
</ion-content>
<ion-footer>
  <div class="containercomment">
    <div class="write">
      <ion-textarea [(ngModel)]="msg"></ion-textarea>
    </div>
    <div class="containerbutton">
      <ion-button (click)="sendCommentFoundation()" fill=clear class="button">
        <ion-icon name= "send-outline" class="icon"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-footer>
