.container{
    display: flex;
}
.image{
    width: 30%;
    height: 20%;
}
.text{
    text-align: center;
}
.icon{
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 5px;
}
.icon2{
    color: #FFFFFF;
}
.button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    border: #FFFFFF solid 1px;
}
.left{
    width: 80%;
    padding: 0;

}
.right{
    width: 20%;
    padding: 0;
}
.description{
    padding: 0;
}
.card{
    background-color: #5081E5;
}
.list{
    background-color: #5081E5;
    color: #FFFFFF;
}